%section.local-service-area
  .container-fluid
    .row
      .col-sm-6.col-md-6.service
        .service-image
          = image_tag("service.png", :height => "100%", :class => "img-responsive")
          .overlay
      .col-sm-6.col-md-6.service
        .service-content
          %h3.rbs_bold.title Don’t forget about your local services!
          %p.rb_regular
            When you join Muddleme, you’ll get a personalized money box to receive local deals and cash
            back for calling and transacting with your favorite service providers.
          %p.margin-top-25.rb_regular Get as much as $45 deposited directly into your account for calling Dish TV!
          - if current_user.blank?
            %p.button-join-for-free.margin-bottom-0.rb_bold{:style => "margin-top:33px;margin-right:2px;"}
              = link_to "Join for FREE", hp_direct_sign_up_path, :id => "direct_user_sign_up", :onClick => "generate_direct_sign_up_form();", :class => "btn btn-primary join-for-free"
            %p.button-content.text-align-right-local-services{:style => "font-size:21px;margin-top:-5px; margin-right: 18px;"}
              %span.already-joined-label.rb_regular Already joined?
              = link_to "Log in", "/login", :class => "btn btn-primary log-in padding-left-2 rb_regular"
          - else
            %p.button-join-for-free.margin-bottom-0.rb_bold{:style => "margin-top:33px;margin-right:2px;"}
              = link_to "Try Below #{image_tag('bottom-arrow.png')}".html_safe, 'javascript:void(0);', :id => "direct_user_sign_up2", :class => "btn btn-primary join-for-free"
