- unless @all_top_deals.blank?
  %section{style: "margin-top: 20px;"}
    .part-10.text-center.bottom-padding
      .container
        .row
          -@all_top_deals.each_with_index do |advertiser,i|
            .col-md-3.col-sm-6.col-xs-12
              .boxs{style: "min-height: 391px;"}
                - if advertiser.hp_advertiser_image.blank?
                  = link_to(image_tag(advertiser.is_a?(LinkshareAdvertiser) ? advertiser.logo_url : advertiser.logo.url, :title => advertiser.name), "javascript:void(0);", :id => "merchant_popup_#{advertiser.advertiser_id}",  :class => "image-responsive custom-link", :onclick => "generate_popup(this.id, #{advertiser.advertiser_id}, #{advertiser.coupons.blank?}); return false;")
                  = link_to "coupon_window", mm_prompt_cc_window_path(:ad => advertiser.advertiser_id, :type => advertiser.class.name, :offer_url => advertiser.advertiser_url), :style => "display:none;", :id => "merchant_c_window_#{advertiser.advertiser_id}"
                - else
                  = link_to(image_tag(advertiser.is_a?(LinkshareAdvertiser) ? advertiser.logo_url : advertiser.logo.url, :title => advertiser.name), "javascript:void(0);", :id => "merchant_popup_#{advertiser.advertiser_id}",  :class => "image-responsive custom-link", :onclick => "generate_popup(this.id, #{advertiser.advertiser_id}, #{advertiser.coupons.blank?}); return false;")
                  = link_to "coupon_window", mm_prompt_cc_window_path(:ad => advertiser.advertiser_id, :type => advertiser.class.name, :offer_url => advertiser.advertiser_url), :style => "display:none;", :id => "merchant_c_window_#{advertiser.advertiser_id}"
                - coupon = advertiser.coupons.where(['expires_at IS NULL or expires_at >= ?', Date.today]).first
                - coupon_description = coupon.description rescue nil
                - coupon_description = '' if coupon_description.blank?
                      
                - couponcode = advertiser.coupons.where(['expires_at IS NULL or expires_at >= ?', Date.today]).first
                - coupon_code = couponcode.code rescue nil
                - if coupon_code.present?
                  - if coupon_description.length <= 40
                    %h2
                      = coupon_description
                  - else
                    %h2
                      = "#{coupon_description[0..40]}..."
                - else
                  - content = "#{number_to_percentage(advertiser.max_commission_percent, {:precision => 1, :strip_insignificant_zeros => true})} Cash Back"
                  %h2
                    = content
                %br      
                %img{:alt => "", :src => "assets/bottom-orange-button.png",  class: "cash-back-button"}/
                %span.my-cash-back
                  = number_to_percentage(advertiser.max_commission_percent, {:precision => 1, :strip_insignificant_zeros => true})
                  Cash Back
                %br/
                -if coupon_code.present?
                  %img{:alt => "SITE40", :src => "assets/sessiors-btn.png", :style => "width:45%;height:70px;"}/
                  %span.coup-code
                    = coupon_code
                -else
                  %img{:alt => "SITE40", :src => "assets/sessiors-btn.png", :style => "width:45%;height:70px;"}/
                  %span.coup-code
                    = "No code present"      
                %span
                  = link_to "SHOP NOW", advertiser.advertiser_url, :target => "_blank", :class => "btn shop-now", :id => "merchant_popup_#{advertiser.advertiser_id}", :onclick => "generate_popup(this.id, #{advertiser.advertiser_id}, #{advertiser.coupons.blank?}); return true;"
:css
  .custom-link {
    background:none !important;
  }                  

  .custom-link:hover{
    background:none !important;
  }

  .custom-link img{
    width: 90% !important;
    height: 150px !important;
  }

  .my-cash-back{
    position: absolute;
    left: 37%;
    margin-top: 7px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }